@import "vendor/_defaults";

.container {
  min-height: 100vh;
  padding: rem(20);
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  height: 100vh;
}

nav {
  .link {
    text-decoration: none;
    color: $black;
    font-weight: bold;
    display: block;
    text-align: center;

    &:hover {
      color: $gray-4;
      text-decoration: underline;
    }
  }
}

.main {
  padding: rem(20);

  h1,
  h2,
  h3 {
    text-align: center;
  }

  pre,
  code {
    background-color: $gray-6;
    color: $error;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    padding: rem(2) rem(5);
    box-sizing: border-box;
    border-radius: rem(5);
  }

  pre {
    padding-bottom: rem(20);
    code {
      color: $primary-blue;
    }
  }

  blockquote {
    color: $success;
    font-style: italic;
    font-weight: 600;
    padding: rem(5);
    margin: rem(20) 0 0 0;
    border: 2px solid $warning;
    box-sizing: border-box;
    border-radius: rem(5);
    border-style: dashed;
  }

  ul {
    margin: rem(15) 0 rem(10) 0;
  }

  hr {
    margin: rem(30) 0 rem(10) 0;
  }
}
